@charset "UTF-8";

@media only screen and (min-width: 992px) {
  .row .col-lg-1,
  .row .col-lg-2,
  .row .col-lg-3,
  .row .col-lg-4,
  .row .col-lg-5,
  .row .col-lg-6,
  .row .col-lg-7,
  .row .col-lg-8,
  .row .col-lg-9,
  .row .col-lg-10,
  .row .col-lg-11,
  .row .col-lg-12,
  .row .col-xl-1,
  .row .col-xl-2,
  .row .col-xl-3,
  .row .col-xl-4,
  .row .col-xl-5,
  .row .col-xl-6,
  .row .col-xl-7,
  .row .col-xl-8,
  .row .col-xl-9,
  .row .col-xl-10,
  .row .col-xl-11,
  .row .col-xl-12,
  .row .col-md-1,
  .row .col-md-2,
  .row .col-md-3,
  .row .col-md-4,
  .row .col-md-5,
  .row .col-md-6,
  .row .col-md-7,
  .row .col-md-8,
  .row .col-md-9,
  .row .col-md-10,
  .row .col-md-11,
  .row .col-md-12,
  .row .col-sm-1,
  .row .col-sm-2,
  .row .col-sm-3,
  .row .col-sm-4,
  .row .col-sm-5,
  .row .col-sm-6,
  .row .col-sm-7,
  .row .col-sm-8,
  .row .col-sm-9,
  .row .col-sm-10,
  .row .col-sm-11,
  .row .col-sm-12,
  .row .col-xs-1,
  .row .col-xs-2,
  .row .col-xs-3,
  .row .col-xs-4,
  .row .col-xs-5,
  .row .col-xs-6,
  .row .col-xs-7,
  .row .col-xs-8,
  .row .col-xs-9,
  .row .col-xs-10,
  .row .col-xs-11,
  .row .col-xs-12,
  .row .col-1,
  .row .col-2,
  .row .col-3,
  .row .col-4,
  .row .col-5,
  .row .col-6,
  .row .col-7,
  .row .col-8,
  .row .col-9,
  .row .col-10,
  .row .col-11,
  .row .col-12 {
    padding-right: 12px;
    padding-left: 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .col-1024-12 {
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.color-white {
  color: white !important;
}

.color-red {
  color: #f3482c !important;
}

.color-blue {
  color: #009FF2 !important;
}

.color-green {
  color: #19AA89 !important;
}

.color-dark-grey {
  color: #A0A0A0 !important;
}

.color-green {
  color: #19AA89 !important;
}

.color-orange {
  color: #EDA046 !important;
}

.bg-grey {
  background-color: #F1F1F2 !important;
}

.bg-dark-grey {
  background-color: #A0A0A0 !important;
}

.bg-red {
  background-color: #f3482c !important;
}

.bg-red-a-0-5 {
  background-color: rgba(237, 73, 70, 0.5) !important;
}

.bg-blue {
  background-color: #009FF2 !important;
}

.bg-green {
  background-color: #19AA89 !important;
}

.bg-orange {
  background-color: #EDA046 !important;
}

.bg-dark-blue {
  background-color: #2A3846 !important;
}

.border-blue {
  border: 1px solid #009FF2 !important;
}

.border-green {
  border: 1px solid #19AA89 !important;
}

.border-orange {
  border: 1px solid #EDA046 !important;
}

.border-red {
  border: 1px solid #f3482c !important;
}

.border-grey {
  border: 1px solid #F1F1F2 !important;
}

.border-light-grey {
  border: 1px solid #DBDBDB !important;
}

.border-dark-grey {
  border: 1px solid #A0A0A0 !important;
}

.border-bottom-black {
  border-bottom: 1px solid black !important;
}

.border-top-black {
  border-top: 1px solid black !important;
}

.border-right-black {
  border-right: 1px solid black !important;
}

.border-right-white {
  border-right: 1px solid white !important;
}

.border-right-grey {
  border-right: 1px solid #F1F1F2 !important;
}

.border-right-dark-grey {
  border-right: 1px solid #d0d0d0 !important;
}

.btn-success {
  background-color: #19AA89;
}

.btn-success:hover {
  background-color: #18937A;
}

.btn {
  border-radius: 4px;
}

.btn em {
  font-size: 16px;
}

.btn i {
  font-size: 16px;
}

.btn-secondary {
  border-color: #DBDBDB;
}

.btn-lg .btn-label {
  padding: 7px 20px;
}

.smaller-btn {
  padding: 4px 10px;
}

i.fa {
  min-height: 20px;
  padding-top: 1px;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.cardbox-heading h3 {
  font-size: 20px;
}

.header-container {
  margin-left: 200px;
}

.main-container {
  background-color: #F1F1F2 !important;
  margin-left: 200px;
}

.sidebar-container {
  width: 200px;
}

a:hover,
button:hover {
  cursor: pointer !important;
}

.cursor-pointer {
  cursor: pointer;
}

a.a-green-hover {
  text-decoration: none;
  color: #59676b;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

a.a-green-hover:hover {
  color: #19AA89;
}

a.blue-a {
  color: #009FF2;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

a.blue-a:hover {
  color: #007Fd2;
}

a.red-a {
  color: #f3482c;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

a.red-a:hover {
  color: #f3482c;
}

.avoid-clicks {
  pointer-events: none;
}

.flex-g-1 {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

input {
  min-height: 30px;
}

.row.small-paddings > div {
  padding-left: 3px;
  padding-right: 3px;
}

.zoom {
  display: block;
  position: relative;
  overflow: hidden;
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

hr.dashed {
  border-style: dashed !important;
}

.border-w-2 {
  border-width: 2px !important;
}

.section-container > .container-fluid {
  padding: 8px;
  padding-top: 0;
}

.main-container {
  height: 100%;
}

.cheque-img-container {
  height: 360px;
}

.w-2-5 {
  width: 2.5% !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-35 {
  width: 35% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-49 {
  width: 49% !important;
}

.w-55 {
  width: 55% !important;
}

.w-60 {
  width: 60% !important;
}

.w-65 {
  width: 65% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-auto {
  width: auto !important;
}

.pl-45 {
  padding-left: 2.5rem !important;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.min-height-auto {
  min-height: auto !important;
}

.border-b {
  border-bottom: 1px solid #DBDBDB;
}

.border-t {
  border-top: 1px solid #DBDBDB;
}

.border-t {
  border-top: 1px solid #DBDBDB;
}

.border-r-light-gray {
  border-right: 1px solid #DBDBDB;
}

.border-l-light-gray {
  border-left: 1px solid #DBDBDB;
}

.border-b-light-gray {
  border-bottom: 1px solid #DBDBDB;
}

.border-t-bg-gray {
  border-top: 1px solid #F1F1F2;
}

.border-b-dashed {
  border-bottom: 1px dashed #DBDBDB;
}

.border-light-radius {
  border-radius: 4px;
}

.w-100 + .select2-container {
  width: 100% !important;
}

.select2.select2-container {
  background-color: white;
}

.w-auto + .select2 {
  width: auto !important;
}

.custom-balance-radio-container {
  padding: 10px 20px;
}

.custom-balance-radio-container span {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
  color: #59676b;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
}

.custom-balance-radio-container .custom-balance-radio-btn:checked + span {
  background-color: #19AA89;
  color: white;
  border-color: #19AA89;
}

.custom-balance-radio-container:hover span {
  border-color: #19AA89;
}

.datepicker-days .disabled.day {
  color: #bbb !important;
}

.switch input:checked + span {
  background-color: #8FD4C3;
}

.switch input:checked + span::after {
  background-color: #19AA89;
}

.switch.locked {
  opacity: 0.5;
  pointer-events: none;
}

.switch.switch-success input:checked + span {
  background-color: #8FD4C3;
}

.switch.switch-success input:checked + span::after {
  background-color: #19AA89;
}

.switch.switch-success.locked {
  opacity: 0.5;
  pointer-events: none;
}

.table .ion-edit {
  font-size: 18px;
  color: #009FF2;
}

.table .ion-trash-b {
  font-size: 18px;
  color: #f3482c;
}

.table tbody > tr > td {
  padding-left: 10px;
}

.table > thead > tr > th {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.table .commands-td em {
  padding-left: 5px;
  padding-right: 5px;
}

.table .commands-td a,
.table .commands-td button {
  background-color: transparent;
  cursor: default;
  border-color: transparent;
  padding: 0;
}

.table .commands-td a:focus,
.table .commands-td button:focus {
  box-shadow: none;
}

.table tr[data-status="2"] td:last-child {
  border-right: 4px solid #FFA500;
}

.table tr[data-status="1"] td:last-child {
  border-right: 4px solid #19AA89;
}

.table tr[data-status="0"] td:last-child {
  border-right: 4px solid #f3482c;
}

.table tr[data-status-left="0"] td:first-child {
  border-left: 4px solid #f3482c;
}

.table tr.current td {
  background-color: #19AA89;
  color: white;
}

.table a {
  text-decoration: none;
  color: #19AA89;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.table a:hover {
  color: #18937A;
}

.table-collapse th {
  background: white;
}

.table-collapse tr:nth-child(4n-2),
.table-collapse tr:nth-child(4n-3) {
  background: rgba(162, 162, 162, 0.06);
}

.table-collapse .inner-collapse-container {
  padding: 5px 4% 25px 6.5%;
}

@media (max-width: 1024px) {
  .table-collapse .inner-collapse-container {
    padding: 5px 4% 25px 9%;
  }
}

.expanded-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px dashed #59676b;
}

.expanded-row [class*=col-] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.expanded-row .role-number-txt {
  color: #A0A0A0;
}

.expanded-row .role-separator {
  margin-right: 10px;
}

.table > tbody > tr > td {
  border-top: 1px solid rgba(162, 162, 162, 0.35);
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(162, 162, 162, 0.25);
}

.table > thead > tr > th {
  height: 37px;
  vertical-align: middle;
  padding-bottom: 0 !important;
}

.table.table-w-borders {
  border-left: 1px solid rgba(162, 162, 162, 0.35);
  border-bottom: 1px solid rgba(162, 162, 162, 0.35);
}

.table.table-w-borders th,
.table.table-w-borders td {
  border-right: 1px solid rgba(162, 162, 162, 0.35);
}

.table.table-no-paddings td {
  padding-top: 3px;
  padding-bottom: 3px;
}

.table.table-no-paddings td input[type=checkbox] {
  min-height: auto;
}

.bootstrap-duallistbox-container .btn-secondary i {
  font-size: 12px;
}

.bootstrap-duallistbox-container .box2 .btn-secondary {
  margin-left: 0;
}

.nav-tabs .nav-item .nav-link {
  font-size: 18px;
  color: #59676b;
}

.nav-tabs .nav-item .nav-link.active {
  color: #19AA89;
}

.nav-pills .nav-item .nav-link {
  color: #59676b;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #19AA89;
  color: white;
}

.cardbox-heading {
  padding: 8px !important;
}

.cardbox-heading h4 {
  font-size: 1.3rem;
}

.cardbox-heading a {
  color: #009FF2;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.cardbox-heading a:hover {
  color: #007Fd2;
}

.cardbox {
  margin-bottom: 12px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.cardbox .cardbox-body {
  padding: 6px;
}

.modal .modal-header h1,
.modal .modal-header h2,
.modal .modal-header h3,
.modal .modal-header h4,
.modal .modal-header h5,
.modal .modal-header h6 {
  color: #19AA89;
}

.modal .modal-footer button.close {
  background-color: #F1F1F2;
  color: #A0A0A0;
  border: 1px solid #A0A0A0;
  padding: 10px;
  border-radius: 7px;
  font-weight: 300;
  font-size: 14px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media only screen and (min-width: 992px) {
  .modal-lg {
    max-width: 850px;
  }
}

@media only screen and (min-width: 992px) {
  .modal-md {
    max-width: 700px;
  }
}

.card {
  margin-bottom: 30px;
}

.card .card {
  margin: 0;
  border-width: 0;
}

.card .card:nth-child(2n+1) {
  background-color: #F1F1F2;
}

#full-screen-loading {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.08);
  z-index: 99999;
}

#full-screen-loading.open {
  display: -webkit-box;
  display: flex;
}

.editable-input-container {
  position: relative;
}

.editable-input-container input {
  border: 1px solid #009FF2;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}

.editable-input-container input:focus + a {
  opacity: 1;
}

.editable-input-container a {
  position: absolute;
  right: -25px;
  width: 25px;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: #19AA89;
  text-align: center;
}

.editable-input-container a i {
  color: white;
  padding-top: 8px;
}

.image-manipulation-container {
  position: relative;
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}

.image-manipulation-container > div {
  position: relative;
  overflow: auto;
}

.image-manipulation-container > div img {
  width: 100%;
  display: block;
}

.image-manipulation-toolbar .image-zoom-slider {
  width: 50%;
}

.image-manipulation-toolbar .image-zoom-slider .noUi-handle {
  background-color: #19AA89;
  width: 15px;
  height: 15px;
  top: -5px;
  left: -11px;
}

.image-manipulation-toolbar .ion-ios-reverse-camera {
  font-size: 22px;
  padding: 0.5rem 0;
}

.image-manipulation-toolbar a {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.image-manipulation-toolbar .reset-img-btn {
  min-height: 35px;
}

.image-manipulation-toolbar .col-lg-4,
.image-manipulation-toolbar .col-lg-5,
.image-manipulation-toolbar .col-lg-3 {
  max-height: 35px;
}

.custom-fieldset {
  border-radius: 4px;
  border: 1px solid #A0A0A0;
  text-align: center;
  padding: 0 15px 15px 15px;
}

.custom-fieldset .h-tag {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -10px;
  background-color: white;
  color: #A0A0A0;
}

.progress {
  font-size: 1em;
  height: 2rem;
}

.progress-bar-w-centered-numbers {
  padding: 5px 0;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.progress-bar-w-centered-numbers span {
  z-index: 9999;
  position: relative;
}

.progress-bar-w-centered-numbers .progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background-color: #19AA89;
}

.tooltip-inner {
  background-color: #2A3846;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #2A3846;
}

.tooltip .arrow:before {
  border-bottom-color: #2A3846 !important;
  border-top-color: #2A3846 !important;
}

.ace-code-editor {
  width: 100%;
  height: 100%;
}

.dropdown-item {
  color: #19AA89 !important;
}

.progress-step {
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  padding: 16px 14px;
  border-bottom: 1px solid #ddd;
}

.progress-step:first-child {
  border-top: 1px solid #ddd;
}

.progress-step-success {
  background-color: #e1f1cf;
  box-shadow: inset 3px 0 0 #bcdf94;
}

.progress-step-info {
  background-color: #ddf0fc;
  box-shadow: inset 3px 0 0 #97d0f6;
}

.progress-step-warning {
  background-color: #feebc8;
  box-shadow: inset 3px 0 0 #fdcf7d;
}

.progress-step-danger {
  background-color: #fadbdb;
  box-shadow: inset 3px 0 0 #f09898;
}

.progress-step-icon {
  padding-right: 10px;
}

.progress-step-icon + .progress-step-body {
  margin-top: 7px;
}

.progress-step-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.progress-step-status {
  float: right;
}

.progress-step-content {
  margin-top: 7px;
}

.progress-step-content .progress-label {
  margin: 0 0 4px;
}

.progress-step-content .progress {
  margin: 0;
}

.progress-step-content .progress + .progress-label {
  margin: 4px 0 0;
}

.progress-step-content .console-output {
  max-height: 15.385em;
}

.progress-steps + .btns-box {
  margin-top: -1px;
}

.btn [class*=" icon-"],
.btn [class^=icon-] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.s-btn [class*=" icon-"],
.s-btn [class^=icon-] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

[class*=" icon-"],
[class^=icon-],
i.icon,
span.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.s-btn,
.sb-btn {
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  padding-left: 20px;
  line-height: 16px;
}

.s-btn .icon,
.s-btn [class*=" icon-"],
.s-btn [class^=icon-] {
  float: left;
  margin-left: -20px;
}

.sb-btn .icon,
.sb-btn [class*=" icon-"],
.sb-btn [class^=icon-] {
  float: left;
  margin-left: -20px;
}

.s-btn i,
.sb-btn i {
  font-style: normal;
}

.icon-background-tasks {
  background-image: url(/../icons/background-tasks.png);
}

.async-progress-bar {
  position: fixed;
  z-index: 1000;
  right: 10px;
  bottom: 24px;
  width: 328px;
  background: #d9f1fa;
  line-height: 1.4;
}

.async-progress-bar-top {
  margin: 0 0 -1px;
  cursor: pointer;
  border: 1px solid #a3d1e2;
  background: #d9f1fa;
}

.async-progress-bar-control {
  float: right;
  margin: 10px 10px 10px 5px;
  background: url(/../icons/hide-show-button.png) 0 0 no-repeat;
  background-size: 16px 32px;
}

.async-progress-bar-control:hover {
  opacity: 0.8;
}

.async-progress-bar-collapsed .async-progress-bar-control {
  background-position: 0 -16px;
}

.async-progress-bar-control,
.async-progress-bar-control-hide,
.async-progress-bar-control-show {
  overflow: hidden;
  width: 16px;
  height: 16px;
}

.async-progress-bar-item-heading,
.async-progress-bar-item-title,
.async-progress-bar-title,
.async-progress-bar-top {
  overflow: hidden;
}

.async-progress-bar-collapsed .async-progress-bar-top .async-progress-bar-control-hide,
.async-progress-bar-top .async-progress-bar-control-show {
  display: none;
}

.async-progress-bar-collapsed .async-progress-bar-top .async-progress-bar-control-show,
.async-progress-bar-control-hide,
.async-progress-bar-control-show {
  display: inline-block;
  text-indent: 20px;
}

.async-progress-bar-title {
  position: relative;
  z-index: 0;
  padding: 10px 0 10px 10px;
  font-size: 14px;
  font-weight: 700;
  color: #353535;
}

.async-progress-bar-title-tasks-complete > span,
.async-progress-bar-title-tasks-error > span,
.async-progress-bar-title-tasks-warning > span {
  position: relative;
  z-index: -1;
  margin: 0 -5px;
  padding: 0 5px;
}

.async-progress-bar-body {
  overflow: auto;
  max-height: 370px;
  margin-left: -10px;
  padding: 0 0 1px 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  opacity: 1;
}

.async-progress-bar-collapsed .async-progress-bar-body {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.async-progress-bar-wrap:after {
  position: relative;
  display: block;
  height: 12px;
  content: "";
  border: solid #a3d1e2;
  border-width: 0 1px 1px;
  font-size: 0;
  line-height: 0;
  background: #d9f1fa;
}

.async-progress-bar-collapsed .async-progress-bar-wrap:after {
  display: none;
}

.async-progress-bar-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.async-progress-bar-item {
  position: relative;
  margin: 0 0 -1px;
  padding: 10px;
  word-wrap: break-word;
  border: 1px solid;
  border-color: #c1e3ee #a3d1e2;
  background: #d9f1fa;
}

.async-progress-bar-floating-item {
  position: absolute;
  z-index: 1010;
  overflow: hidden;
  width: 16px;
  height: 16px;
  padding: 3px 10px;
  white-space: nowrap;
  opacity: 0.5;
  border: 1px solid #a3d1e2;
  background: #d9f1fa;
}

.async-progress-bar-floating-item-end {
  padding: 10px;
  opacity: 1;
}

.async-progress-bar-preparing-item-begin {
  display: none;
}

.async-progress-bar-preparing-item {
  display: block;
  overflow: hidden;
  max-height: 0;
  padding: 0 10px;
}

.async-progress-bar-preparing-item-end {
  max-height: 50px;
  padding: 10px;
}

.async-progress-bar-floating-item,
.async-progress-bar-preparing-item-end {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.async-progress-bar-item .progress {
  margin: 4px 0 0;
}

.async-progress-bar-item-footer {
  margin-top: 4px;
}

.async-progress-bar-item-complete {
  border-color: #c1e3ee #a3d1e2;
  background: #bcdf94;
  z-index: 1;
}

.async-progress-bar-item-error {
  border-color: #c1e3ee #a3d1e2;
  background: #f4b3b3;
  z-index: 1;
}

.async-progress-bar-item-warning {
  border-color: #c1e3ee #a3d1e2;
  background: #fdd896;
  z-index: 1;
}

.async-progress-bar-collapsed .async-progress-bar-title-tasks-hide {
  display: none;
}

.async-progress-bar-item-msg {
  min-height: 16px;
  padding: 1px 0 1px 20px;
  background: 0 2px no-repeat;
  background-size: 16px;
}

.async-progress-bar-item-msg .close {
  float: right;
  line-height: 16px;
  width: 16px;
  margin: 2px 0 0 10px;
  text-align: center;
  cursor: pointer;
}

.async-progress-bar-item-msg .close:before {
  content: "\2715";
  font-weight: 700;
  font-size: 12px;
}

.async-progress-bar-item-msg .close:hover {
  opacity: 0.8;
}

.async-progress-bar-title-tasks-hide {
  display: inline-block;
  margin-top: 1px;
  vertical-align: top;
  font-size: 13px;
  font-weight: 400;
}

.async-progress-bar-title-tasks,
.async-progress-bar-title-tasks-complete,
.async-progress-bar-title-tasks-error,
.async-progress-bar-title-tasks-warning {
  display: inline-block;
  margin-right: 8px;
  padding: 0 0 0 20px;
  vertical-align: top;
  background: 0 1px no-repeat;
  background-size: 16px;
}

.async-progress-bar-title-tasks {
  background-image: url(/../icons/indicator.gif);
}

.async-progress-bar-item-complete .async-progress-bar-item-msg,
.async-progress-bar-title-tasks-complete {
  background-image: url(/../icons/ok.png);
}

.async-progress-bar-item-error .async-progress-bar-item-msg,
.async-progress-bar-title-tasks-error {
  background-image: url(/../icons/warning.png);
}

.async-progress-bar-item-warning .async-progress-bar-item-msg,
.async-progress-bar-title-tasks-warning {
  background-image: url(/../icons/att.png);
}

.async-progress-bar-complete.async-progress-bar-collapsed {
  -webkit-animation: async-progress-bar-pulse 1.5s ease-in-out infinite;
  animation: async-progress-bar-pulse 1.5s ease-in-out infinite;
}

@-webkit-keyframes async-progress-bar-pulse {
  0% {
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px rgba(117, 178, 226, 0.3);
  }

  50% {
    box-shadow: 0 0 0 2px #fff, 0 0 0 7px rgba(117, 178, 226, 0.3);
  }

  to {
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px rgba(117, 178, 226, 0.3);
  }
}

@keyframes async-progress-bar-pulse {
  0% {
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px rgba(117, 178, 226, 0.3);
  }

  50% {
    box-shadow: 0 0 0 2px #fff, 0 0 0 7px rgba(117, 178, 226, 0.3);
  }

  to {
    box-shadow: 0 0 0 2px #fff, 0 0 0 2px rgba(117, 178, 226, 0.3);
  }
}

.async-progress-bar-title-tasks-complete > span {
  border-radius: 16px;
  -webkit-animation: pulse-complete 1.2s ease-in-out;
  animation: pulse-complete 1.2s ease-in-out;
}

.async-progress-bar-title-tasks-error > span {
  border-radius: 16px;
  -webkit-animation: pulse-error 1.2s ease-in-out;
  animation: pulse-error 1.2s ease-in-out;
}

.async-progress-bar-title-tasks-warning > span {
  border-radius: 16px;
  -webkit-animation: pulse-warning 1.2s ease-in-out;
  animation: pulse-warning 1.2s ease-in-out;
}

@-webkit-keyframes pulse-complete {
  10%, 40%, 80% {
    background: #8ebe73;
    color: #fff;
    box-shadow: 0 0 0 5px #8ebe73;
    text-shadow: 0 -1px 0 #7b9354;
  }

  20%, 60%, 90% {
    box-shadow: 0 0 0 0 #8ebe73;
  }
}

@keyframes pulse-complete {
  10%, 40%, 80% {
    background: #8ebe73;
    color: #fff;
    box-shadow: 0 0 0 5px #8ebe73;
    text-shadow: 0 -1px 0 #7b9354;
  }

  20%, 60%, 90% {
    box-shadow: 0 0 0 0 #8ebe73;
  }
}

@-webkit-keyframes pulse-error {
  10%, 40%, 80% {
    background: #f99ca2;
    color: #fff;
    box-shadow: 0 0 0 5px #f99ca2;
    text-shadow: 0 -1px 0 #d06554;
  }

  20%, 60%, 90% {
    box-shadow: 0 0 0 0 #f99ca2;
  }
}

@keyframes pulse-error {
  10%, 40%, 80% {
    background: #f99ca2;
    color: #fff;
    box-shadow: 0 0 0 5px #f99ca2;
    text-shadow: 0 -1px 0 #d06554;
  }

  20%, 60%, 90% {
    box-shadow: 0 0 0 0 #f99ca2;
  }
}

@-webkit-keyframes pulse-warning {
  10%, 40%, 80% {
    background: #ecc579;
    color: #fff;
    box-shadow: 0 0 0 5px #ecc579;
    text-shadow: 0 -1px 0 #9c772f;
  }

  20%, 60%, 90% {
    box-shadow: 0 0 0 0 #ecc579;
  }
}

@keyframes pulse-warning {
  10%, 40%, 80% {
    background: #ecc579;
    color: #fff;
    box-shadow: 0 0 0 5px #ecc579;
    text-shadow: 0 -1px 0 #9c772f;
  }

  20%, 60%, 90% {
    box-shadow: 0 0 0 0 #ecc579;
  }
}

@media (max-width: 767px) {
  .async-progress-bar {
    right: 6px;
    bottom: 6px;
    max-width: 100%;
  }

  .async-progress-bar-body {
    max-height: 200px;
  }
}

@media (max-width: 767px) {
  .async-progress-bar {
    right: 6px;
    bottom: 6px;
    max-width: 100%;
  }

  .async-progress-bar-body {
    max-height: 200px;
  }
}

.progress-box-horizontal {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.progress-box-horizontal .progress {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.progress-box-horizontal .progress + .progress-label {
  margin-left: 5px;
}

.progress-box-horizontal .progress-label + .progress {
  margin-left: 5px;
}

.progress-label:after {
  content: "";
  display: block;
  clear: both;
}

.progress-label-left {
  float: left;
}

.progress-label-right {
  float: right;
}

.progress {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  min-width: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
  background: #e2e2e2;
  overflow: hidden;
  line-height: 24px;
}

.progress .progress-bar {
  width: 0;
  height: 100%;
  background: #80c2de;
  float: left;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.progress .progress-bar-success {
  background-color: #86c939;
}

.progress .progress-bar-warning {
  background-color: #feb534;
}

.progress .progress-bar-danger {
  background-color: #e66383;
}

.progress .progress-bar-striped {
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.15) 75%, transparent 0, transparent);
  background-size: 30px 30px;
}

.progress .progress-bar-striped.active {
  -webkit-animation: progress-bar-stripes 0.5s linear infinite;
  animation: progress-bar-stripes 0.5s linear infinite;
}

.progress .progress-bar-indeterminate {
  position: static;
  background: #80c2de;
}

.progress .progress-bar-indeterminate:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: inherit;
  will-change: left, right;
}

.progress .progress-bar-indeterminate:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: inherit;
  will-change: left, right;
  -webkit-animation: progress-bar-indeterminate 3.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: progress-bar-indeterminate 3.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .progress-bar-indeterminate:after {
  -webkit-animation: progress-bar-indeterminate-short 3.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: progress-bar-indeterminate-short 3.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 2.15s;
  animation-delay: 2.15s;
}

.progress-xs {
  height: 6px;
}

.progress-sm {
  height: 12px;
}

@-webkit-keyframes progress-bar-stripes {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 0 0;
  }

  to {
    background-position: 30px 0;
  }
}

@-webkit-keyframes progress-bar-indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60%, to {
    left: 100%;
    right: -90%;
  }
}

@keyframes progress-bar-indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60%, to {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes progress-bar-indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60%, to {
    left: 107%;
    right: -8%;
  }
}

@keyframes progress-bar-indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60%, to {
    left: 107%;
    right: -8%;
  }
}

.s-btn [class*=" icon-"],
.s-btn [class^=icon-] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  background-repeat: no-repeat;
  background-size: contain;
}

[class*=" icon-"],
[class^=icon-],
i.icon,
span.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-md,
[class*=" icon-md-"],
[class^=icon-md-] {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

.btn [class*=" icon-"],
.btn [class^=icon-] {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
  background-repeat: no-repeat;
  background-size: contain;
}

[class*=" icon-"] img,
[class*=" icon-"] svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

[class^=icon-] img,
[class^=icon-] svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

i.icon img,
i.icon svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

span.icon img,
span.icon svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.help-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 38px;
  color: #19AA89;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  width: 32px;
  height: 33px;
  border-radius: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  z-index: 999;
}

.help-btn:hover {
  color: #19AA89;
  text-decoration: none;
}

.help-btn i {
  width: 40px;
  height: 39px;
}

.drawer-cardbox {
  position: fixed;
  top: 48px;
  left: 100%;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: 999;
}

.drawer-cardbox .batch-data-toggle-btn {
  background-color: #F1F1F2;
  padding: 4px 8px;
  border-radius: 4px;
}

.drawer-cardbox .batch-data-toggle-btn i {
  font-size: 16px;
}

.theme-2 .layout-container .header-container {
  background-color: white;
  color: #666D72;
}

.sidebar-container #toggl-menu-btn {
  position: absolute;
  top: 15px;
  right: 7px;
  font-size: 20px;
}

.sidebar-container #toggl-menu-btn i {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-container .small-menu-tooltip,
.sidebar-container .small-menu-tooltip-no-children {
  display: none;
}

.sidebar-nav {
  padding-bottom: 130px;
}

.sidebar-nav .sidebar-subnav {
  background-color: #313f46;
}

.sidebar-nav .sidebar-subnav .sidebar-subnav {
  background-color: #263238;
}

.sidebar-nav ul > .menu-li > .menu-a {
  padding: 0 7px 0 5px;
  height: 40px;
  line-height: 40px;
}

.sidebar-nav .sidebar-subnav > .menu-li > .menu-a {
  padding: 0 7px 0 15px;
}

.sidebar-nav .sidebar-subnav > .menu-li > .sidebar-subnav > .menu-li > .menu-a {
  padding: 0 7px 0 23px;
}

.sidebar-nav ul > li > a > .nav-icon {
  margin-right: 4px;
}

.sidebar-nav ul > li > a > .nav-icon {
  height: 1.4em;
  width: 29px;
}

.sidebar-nav ul > li > a > .nav-icon i {
  font-size: 16px;
  padding-top: 7px;
  display: block;
}

#navigation-bottom-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #263238;
}

#navigation-bottom-section-search {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  background-color: #2F3F4E;
}

#navigation-bottom-section-search input {
  background-color: #2F3F4E;
  border-width: 0;
  color: white;
}

#navigation-bottom-section-search input::-webkit-input-placeholder {
  color: white;
}

#navigation-bottom-section-search input::-moz-placeholder {
  color: white;
}

#navigation-bottom-section-search input:-ms-input-placeholder {
  color: white;
}

#navigation-bottom-section-search input::-ms-input-placeholder {
  color: white;
}

#navigation-bottom-section-search input::placeholder {
  color: white;
}

#navigation-bottom-section-search button {
  background-color: transparent;
  color: white;
  border-width: 0;
}

#navigation-bottom-section-logout {
  background-color: #19AA89;
  padding-left: 15px;
  padding-right: 15px;
}

#navigation-bottom-section-logout a {
  padding-top: 9px;
  padding-bottom: 9px;
  color: white;
  font-size: 13px;
  text-decoration: none;
  display: inline-block;
}

#navigation-bottom-section-logout a #profile-name {
  display: inline-block;
}

#navigation-bottom-section-powered {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  color: white;
  font-size: 13px;
}

@media only screen and (max-width: 1050px) {
  .brand-header {
    display: none;
  }

  .sidebar-nav {
    padding-top: 0;
  }

  #navigation-bottom-section {
    max-width: 70px;
  }

  #navigation-bottom-section-powered {
    display: none;
  }

  #navigation-bottom-section-logout a {
    padding: 5px 0 5px 0 !important;
    text-align: center !important;
  }

  #navigation-bottom-section-logout a #profile-name {
    display: none;
  }

  .sidebar-container {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 70px;
    overflow: visible !important;
  }

  .sidebar-container .sidebar-nav > ul:not(.sidebar-subnav) > li > a > .menu-title {
    display: none;
  }

  .sidebar-container .sidebar-nav ul ul .small-menu-tooltip {
    display: none;
  }

  .sidebar-container .sidebar-nav > ul > li > ul > .small-menu-tooltip,
  .sidebar-container .small-menu-tooltip-no-children {
    display: block;
    line-height: 35px !important;
    height: 35px !important;
    background-color: #263238;
    border-bottom: 2px solid white;
    font-weight: 700;
    padding-left: 3px;
  }

  .sidebar-container .small-menu-tooltip-no-children {
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 140px;
    text-decoration: none;
  }

  .sidebar-container .small-menu-tooltip-no-children {
    display: none;
  }

  .sidebar-container .small-menu-tooltip-no-children a {
    text-decoration: none;
    color: white;
  }

  .sidebar-container .sidebar-nav > ul > li > .menu-a:hover + .small-menu-tooltip-no-children {
    display: block;
  }

  .sidebar-container .small-menu-tooltip-no-children:hover {
    display: block;
  }

  .sidebar-container .sidebar-nav > ul > li > ul .small-menu-tooltip-no-children {
    display: none;
  }

  .sidebar-container .sidebar-nav ul > li ul > li > a {
    padding-left: 24px;
    min-width: 140px;
  }

  .sidebar-container .sidebar-nav ul > li > a {
    line-height: 35px !important;
    height: 35px !important;
  }

  .sidebar-container .sidebar-nav ul > li > a i {
    margin-top: 0;
  }

  .sidebar-container .sidebar-nav-heading {
    text-align: center;
    padding: 5px 5px 0 3px !important;
    font-size: 10px;
  }

  .sidebar-container .small-menu-tooltip {
    display: block;
  }

  .sidebar-container .sidebar-content {
    overflow: visible !important;
  }

  .sidebar-container .sidebar-nav ul > li.active > ul li.active {
    background-color: #263238;
  }

  .sidebar-container .sidebar-nav ul > li.active > a {
    background-color: #263238;
  }

  .sidebar-container .sidebar-nav ul > li.active > a > .nav-caret {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  .sidebar-container .menu-a {
    -webkit-transition-property: none;
    transition-property: none;
  }

  .main-container {
    margin-left: 70px;
  }

  .menu-li {
    position: relative;
  }

  .menu-a {
    padding-left: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
  }

  .menu-a .nav-icon {
    -webkit-box-ordinal-group: 0;
            order: -1;
    margin-right: 5px;
    padding-left: 10px;
  }

  .menu-a:hover + ul {
    display: block;
  }

  .menu-a + ul:hover {
    display: block;
  }

  .sidebar-nav ul > li > ul {
    overflow: visible;
    height: auto;
  }

  .sidebar-subnav {
    left: 100%;
    top: 0;
    display: none;
  }

  .sidebar-subnav a {
    background-color: #263238;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .sidebar-subnav a:hover {
    background-color: #263238;
    opacity: 0.95;
  }

  .sidebar-nav ul > li > a:hover,
  .sidebar-nav ul > li > a:focus {
    background-color: #263238;
    opacity: 0.95;
  }

  .sidebar-subnav {
    position: absolute;
  }
}

.pagination {
  margin-bottom: 0;
  margin-top: 5px;
}

.pagination li,
.pagination span,
.pagination a {
  color: #19AA89;
}

.pagination a,
.pagination span {
  padding: 4px 9px;
}

.pagination .active span {
  color: white;
  background-color: #19AA89;
  border-radius: 3px;
}

@media (max-width: 1024px) {
  .index-cardbox-heading-row .col {
    padding-left: 1px;
    padding-right: 1px;
  }
}

a[data-toggle=collapse]:focus {
  border-color: transparent;
}

a[data-toggle=collapse] .show-txt {
  display: none;
}

a[data-toggle=collapse] .hide-txt {
  display: block;
}

a[data-toggle=collapse].collapsed:focus {
  border-color: transparent;
}

a[data-toggle=collapse].collapsed .show-txt {
  display: block;
}

a[data-toggle=collapse].collapsed .hide-txt {
  display: none;
}

.index-heading {
  background-color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: -1px;
  margin-right: -1px;
  margin-bottom: 12px !important;
  margin-left: -8px;
  margin-right: -8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.4);
}

.index-heading h1,
.index-heading h2,
.index-heading h3,
.index-heading h4,
.index-heading h5,
.index-heading h6 {
  margin-bottom: 0;
  font-size: 18px;
}

.index-heading .col-lg-5 {
  padding-left: 6px !important;
}

.index-heading .col-lg-7 {
  padding-right: 6px !important;
}

.index-heading .col-lg-6:first-child {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}

.index-heading .btn {
  padding: 0.3rem;
}

.index-heading .btn-lg {
  padding: 0.3rem;
}

.index-heading .btn-label {
  padding: 0px 20px;
  padding-right: 12px;
  left: -12px;
}

.index-heading .header-title {
  font-weight: 700;
}

#login-layout-container {
  background-color: rgba(0, 0, 0, 0.5);
}

#login-header,
#login-footer {
  position: fixed;
  left: 30px;
}

#login-header {
  top: 15px;
  color: white;
}

#login-footer {
  bottom: 15px;
  color: #ccc;
}

#login-container {
  min-width: 400px;
}

#login-container .h-tag {
  margin-bottom: 30px;
  color: white;
}

#login-container input {
  margin-bottom: 10px;
  padding: 9px;
  background-color: transparent;
  color: white;
}

#login-container input:focus {
  border-color: white;
}

#login-container input::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

#login-container input::-moz-placeholder {
  color: white;
  opacity: 0.7;
}

#login-container input:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

#login-container input::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

#login-container input::placeholder {
  color: white;
  opacity: 0.7;
}

#login-container .btn {
  margin-top: 15px !important;
  padding: 5px 20px;
  font-size: 16px;
}

#login-container .login-select-branch-group #select2-login-branch-container {
  text-align: left;
}

#login-container .login-select-branch-group .select2.select2-container {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.welcome h5 {
  font-weight: 800;
  color: #293846;
  margin-bottom: 30px;
}

.dash-shortcut-info-row .dash-shortcut-info-col .dash-icon {
  position: relative;
}

.dash-shortcut-info-row .dash-shortcut-info-col .dash-icon i {
  font-size: 24px;
  color: white;
  padding: 9px 13px;
  border-radius: 2px;
  position: absolute;
  right: 6px;
  top: -17px;
  width: 50px;
  text-align: center;
}

.dash-shortcut-info-row .dash-shortcut-info-col .dash-info {
  text-align: left;
}

.dash-shortcut-info-row .dash-shortcut-info-col .dash-info h6 {
  color: #A0A0A0;
  font-size: 15px;
}

.dash-shortcut-info-row .dash-shortcut-info-col .dash-info span {
  font-size: 20px;
  color: #495057;
}

.dash-shortcut-info-row .dash-shortcut-info-col .dash-last-check p {
  margin-bottom: 0;
  border-top: 1px solid #DBDBDB;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 12px;
}

#role-form-permissions-accordion .card-header a[data-toggle=collapse] {
  -webkit-box-flex: 10;
          flex-grow: 10;
  padding-left: 15px;
}

#role-form-permissions-accordion .card-header .icons-span {
  -webkit-box-flex: 1;
          flex-grow: 1;
}

#role-form-permissions-accordion .card-header .icons-span em {
  font-size: 20px;
}

#role-form-permissions-accordion .card-header .icons-span em.ion-ios-plus {
  display: inline-block;
  color: #19AA89;
}

#role-form-permissions-accordion .card-header .icons-span em.ion-ios-minus {
  color: #59676b;
  display: none;
}

#role-form-permissions-accordion .card-header a[data-toggle=collapse][aria-expanded=true] + .icons-span em.ion-ios-plus {
  display: none;
}

#role-form-permissions-accordion .card-header a[data-toggle=collapse][aria-expanded=true] + .icons-span em.ion-ios-minus {
  display: inline-block;
}

#role-form-permissions-accordion li.leaf {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

#role-form-permissions-accordion .child-container input {
  margin-right: 15px;
}

#vendors-index .table img {
  max-width: 120px;
}

#processes-form #processes-documents-table tbody tr {
  cursor: move;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
}

#processes-form #processes-documents-table tbody tr .open-document-td a {
  display: none;
}

#processes-form #processes-documents-table tbody tr:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#processes-form #processes-documents-table tbody tr:hover .open-document-td a {
  display: inline-block;
}

tr[data-queue-status="1"] {
  border-left: 8px solid #19AA89;
}

tr[data-queue-status="2"] {
  border-left: 8px solid #19AA89;
}

tr[data-queue-status="5"] {
  border-left: 8px solid #EDA046;
}

tr[data-queue-status="10"] {
  border-left: 8px solid #f3482c;
}

#process-batch-list-box i {
  font-size: 15px;
  min-height: 20px;
}

#process-batch-list-box .btn.border-dark-grey {
  padding: 5px 10px;
}

#process-batch-list-box .table > thead > tr > th {
  padding: 0 !important;
}

#process-batch-list-box-table {
  width: 100%;
  margin-left: 12px;
  margin-right: 12px;
}

#process-batch-list-box-table th,
#process-batch-list-box-table td {
  padding: 10px;
  border-top: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
}

#process-batch-list-box-table tbody tr:not(:last-child):hover {
  background-color: #F1F1F2;
}

@media only screen and (min-width: 1300px) {
  #process-batch-list-box-table .w-2-5 {
    width: 7% !important;
  }
}

#process-batch-list-box-table tr[data-reconciliation-status="1"] {
  border-left: 8px solid #009FF2;
}

#process-batch-list-box-table tr[data-reconciliation-status="1"] .can-be-coloured {
  background-color: rgba(0, 159, 242, 0.5);
}

#process-batch-list-box-table tr[data-reconciliation-status="1"] .status a {
  color: #009FF2;
}

#process-batch-list-box-table tr[data-reconciliation-status="4"] {
  border-left: 8px solid #19AA89;
}

#process-batch-list-box-table tr[data-reconciliation-status="4"] .status a {
  color: #19AA89;
}

#process-batch-list-box-table tr[data-reconciliation-status="5"] {
  border-left: 8px solid #000000;
}

#process-batch-list-box-table tr[data-reconciliation-status="5"] .status a {
  color: #000000;
}

#process-batch-list-box-table tr[data-reconciliation-status="2"] {
  border-left: 8px solid #EDA046;
  background-color: #F1F1F2;
}

#process-batch-list-box-table tr[data-reconciliation-status="2"] .status a {
  color: #EDA046;
}

#process-batch-list-box-table tr[data-reconciliation-status="10"] {
  border-left: 8px solid #f3482c;
  background-color: #f8f8f8;
}

#process-batch-list-box-table tr[data-reconciliation-status="10"] td {
  color: #BBBEC0;
}

#process-batch-list-box-table tr[data-reconciliation-status="10"] .status a {
  color: #f3482c;
}

#process-batch-list-box-table tr[data-reconciliation-status="3"] {
  border-left: 8px solid #A0A0A0;
}

#process-batch-list-box-table tr[data-reconciliation-status="3"] .status a {
  color: #A0A0A0;
}

#process-batch-list-box-table #total-row td {
  border-top: 2px solid #A4A7AB;
  background-color: #F1F1F2;
}

#process-batch-list-box-table #total-row td.can-be-coloured {
  background-color: rgba(237, 73, 70, 0.5);
}

#process-batch-list-box-table #total-row[data-reconciliation-total-diff="0"] td.can-be-coloured {
  background-color: rgba(25, 170, 137, 0.5);
}

#reconciliation-batch-documents-general-info-box .batch-data-toggle-btn,
#reconciliation-filter-documents-general-info-box .batch-data-toggle-btn {
  background-color: #F1F1F2;
  padding: 4px 8px;
  border-radius: 4px;
}

#reconciliation-batch-documents-general-info-box .batch-data-toggle-btn i,
#reconciliation-filter-documents-general-info-box .batch-data-toggle-btn i {
  font-size: 16px;
}

#reconciliation-batch-documents-general-info-box table:not(.custom-query-table),
#reconciliation-filter-documents-general-info-box table:not(.custom-query-table) {
  border-collapse: collapse;
  width: 100%;
}

#reconciliation-batch-documents-general-info-box table:not(.custom-query-table) tr td,
#reconciliation-filter-documents-general-info-box table:not(.custom-query-table) tr td {
  border: 1px solid white;
  padding: 5px;
}

#reconciliation-batch-documents-general-info-box table:not(.custom-query-table) tr td:first-child,
#reconciliation-filter-documents-general-info-box table:not(.custom-query-table) tr td:first-child {
  background: #19AA89;
  color: white;
  width: 50%;
}

#reconciliation-batch-documents-general-info-box table:not(.custom-query-table) tr td:last-child,
#reconciliation-filter-documents-general-info-box table:not(.custom-query-table) tr td:last-child {
  background: #F1F1F2;
  text-align: right;
  width: 50%;
}

#reconciliation-batch-documents-list table,
#reconciliation-filter-documents-list table {
  max-height: 280px;
}

#reconciliation-export-modal .default-selections input:not(:first-child) {
  margin-left: 30px;
}

.refine-search-modal .refine-modal-tab-navigation-btn {
  font-size: 20px;
  padding: 5px 15px 0 0;
  opacity: 0.7;
}

.refine-search-modal .refine-modal-tab-navigation-btn.active {
  color: #19AA89;
}

.refine-search-modal .preset-name-input-row {
  border-bottom: 1px solid rgba(162, 162, 162, 0.12);
}

.refine-search-modal .refine-modal-tab {
  display: none;
}

.refine-search-modal .refine-modal-tab.active {
  display: block;
}

.reconciliations-calendar-picker-col {
  padding-left: 0 !important;
  position: relative;
}

.reconciliations-calendar-picker-col .fa-calendar-o {
  position: absolute;
  left: 8px;
  top: 6px;
}

.reconciliations-calendar-picker-col #reconciliations-calendar-picker {
  color: white;
  width: 100%;
}

#report-datepicker-container {
  padding-left: 0 !important;
  position: relative;
}

#report-datepicker-container .fa-calendar-o {
  position: absolute;
  left: 8px;
  top: 6px;
}

#report-datepicker-container #report-datepicker {
  color: white;
  width: 100%;
}

#files-load-outclear-cheques-container td {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

#files-load-outclear-cheques-container th {
  padding-bottom: 0 !important;
}

#technical-control-index .cardbox-heading .input-group {
  width: auto;
}

#technical-control-index .cardbox-heading a {
  text-decoration: none;
}

#technical-control-index .cardbox-body table td[data-status="0"] .lock-a {
  display: none;
}

#technical-control-index .cardbox-body table td[data-status="1"] .lock-open-a {
  display: none;
}

#technical-control-branch #rc-document-box label {
  min-width: 80px;
}

#technical-control-branch #signatures-box .cardbox-body {
  max-height: 467px;
  overflow-y: auto;
}

#technical-control-branch #signatures-box #signatures-carousel-container img {
  width: auto;
  max-width: 85%;
  margin: auto;
  max-height: 350px;
}

#technical-control-branch #signatures-box #signatures-carousel-container .owl-nav {
  text-align: center;
}

#technical-control-branch #signatures-box #signatures-carousel-container .owl-nav button {
  font-size: 45px;
  padding: 0 10px !important;
}

#technical-control-branch #signatures-box #signatures-carousel-container .owl-nav button:focus {
  outline: 0 dotted;
}

#technical-control-branch #technical-control-documents-box .cardbox-body {
  overflow-y: auto;
}

#technical-control-branch #technical-control-documents-box .cardbox-body table tr.ck-done input[type=checkbox] {
  display: none;
}

#technical-control-branch #technical-control-documents-box .cardbox-body table tr.current i {
  color: white !important;
}

#technical-control-signatures-modal table img {
  max-height: 75px;
}

#held-cheques-index .cardbox-heading .input-group {
  width: auto;
}

#held-cheques-index .cardbox-heading a {
  text-decoration: none;
}

#held-cheques-index .cardbox-body table td[data-status="0"] .lock-a {
  display: none;
}

#held-cheques-index .cardbox-body table td[data-status="1"] .lock-open-a {
  display: none;
}

#held-cheques #rc-document-box label {
  min-width: 80px;
}

#held-cheques #held-cheques-documents-box .cardbox-body {
  overflow-y: auto;
}

#held-cheques #held-cheques-documents-box .cardbox-body table tr.ck-done input[type=checkbox] {
  display: none;
}

#held-cheques #held-cheques-documents-box .cardbox-body table tr.current i {
  color: white !important;
}

#scanner-status[data-status=ONLINE] {
  color: #19AA89;
}

#scanner-status[data-status=FEEDING] {
  color: #EDA046;
}

#scanner-status[data-status=STOPPING] {
  color: red;
}

#scan-info-box button.disabled {
  opacity: 1;
  background: #A0A0A0 !important;
  border-color: #A0A0A0 !important;
}

#scan-info-scanner-status[data-status=NOTCONNECTED] {
  color: red;
}

#scan-info-scanner-status[data-status=NOTCONNECTED] + span #connect-btn {
  display: none;
}

#scan-info-scanner-status[data-status=NOTCONNECTED] + span #disconnect-btn {
  display: none;
}

#scan-info-scanner-status[data-status=OFFLINE] {
  color: red;
}

#scan-info-scanner-status[data-status=OFFLINE] + span #connect-btn {
  display: inline-block;
}

#scan-info-scanner-status[data-status=OFFLINE] + span #disconnect-btn {
  display: none;
}

#scan-info-scanner-status[data-status=ONLINE] {
  color: #19AA89;
}

#scan-info-scanner-status[data-status=ONLINE] + span #disconnect-btn {
  display: inline-block;
}

#scan-info-scanner-status[data-status=ONLINE] + span #connect-btn {
  display: none;
}

#scan-info-scanner-status[data-status=FEEDING] {
  color: #EDA046;
}

#scan-info-scanner-status[data-status=FEEDING] + span #connect-btn {
  display: none;
}

#scan-info-scanner-status[data-status=FEEDING] + span #disconnect-btn {
  display: none;
}

#scanner-action-buttons-container[data-status=OFFLINE] #scan-btn {
  background-color: #A0A0A0 !important;
  pointer-events: none;
}

#scanner-action-buttons-container[data-status=ONLINE] #scan-btn {
  display: inline-block;
}

#scanner-action-buttons-container[data-status=ONLINE] #stop-btn {
  display: none;
}

#scanner-action-buttons-container[data-status=ONLINE] #clear-track-btn {
  display: inline-block;
}

#scanner-action-buttons-container[data-status=FEEDING] #scan-btn {
  display: none;
}

#scanner-action-buttons-container[data-status=FEEDING] #stop-btn {
  display: inline-block;
}

#scanner-action-buttons-container[data-status=FEEDING] #clear-track-btn {
  display: none;
}

#scan-info-box[data-is-ready-for-scan=false] #scanner-action-buttons-container > .row {
  display: none;
}

#scan-info-box[data-is-ready-for-scan=true] #scanner-action-buttons-container > .row {
  display: -webkit-box;
  display: flex;
}

#scan-items-box tr[data-status=pending] .status-text {
  color: #EDA046;
}

#scan-items-box tr[data-status=storing] .status-text {
  color: #009FF2;
}

#scan-items-box tr[data-status=stored] .status-text {
  color: #19AA89;
}

#scan-items-box tr[data-status=rejected] .status-text {
  color: #f3482c;
}

#scan-items-box tr.current td {
  background-color: #DBDBDB;
  color: black;
}

#save-as-btn-container {
  position: relative;
}

#save-as-btn-container #save-as-form-container {
  padding-top: 3px;
  position: absolute;
  height: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  z-index: 9999;
}

#save-as-btn-container #save-as-form-container.show {
  height: 38px;
}

#save-as-btn-container #create-new-custom-query-btn:focus {
  box-shadow: none;
}

#rules-header .row .col-lg-6:first-child {
  color: #293846;
  font-weight: bold;
  font-size: 18px;
}

.custom-query-table {
  width: 100%;
  text-align: center;
}

.custom-query-table td:nth-child(1) {
  width: 20%;
}

.custom-query-table td:nth-child(2) {
  width: 40%;
}

.custom-query-table td:nth-child(3) {
  width: 20%;
}

.custom-query-table td:nth-child(4) {
  width: 20%;
}

.custom-query-table:not(.no-style) {
  border-collapse: collapse;
}

.custom-query-table:not(.no-style) tr td {
  border: 1px solid white;
  padding: 5px;
  background: #F1F1F2;
}

.custom-query-table:not(.no-style) tr td:nth-child(2) {
  background: #19AA89;
  color: white;
}

#holiday-modal[data-mode=update] #add-single-row-modal-holiday {
  display: none;
}

#holiday-modal[data-mode=update] .remove-history-row {
  display: none;
}

#help-content-section .help-item img {
  max-width: 70%;
  margin: auto;
}

